<header>
    <div class="container-fluid">
        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="bi bi-list"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex" id="navbarMain">
            <a class="navbar-brand col-lg-3 me-0" >
                <img src="Studio MAX.png" alt="" style="position: relative;width: 100%; height: 3rem; object-fit: scale-down;">
            </a>
            <ul class="navbar-nav col-lg-6 justify-content-lg-center flex-lg-row gap-3">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" fragment="Portfolio">Портфолио</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">Услуги</a>
                    <ul class="dropdown-menu">
                        @if (VideoTypes != null) {
                            @for (item of iterateTypes(); track $index) {

                                <li><a class="dropdown-item" (click)="setRoll (item.id)">{{item.name}}</a></li>
                            }
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/" fragment="Contacts">Контакты</a>
                </li>
            </ul>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                <ul class="text-center align-content-between text-decoration-none p-0 m-0 list-unstyled">
                    <li><a class="text-decoration-none" href="tel:+79277254665">+7(927)725-46-65</a><br></li>
                    <li><a class="text-decoration-none" href="mailto:mail@studio-max.ru">mail&#64;studio-max.ru</a><br></li>
                    
                    <li class="d-flex justify-content-end flex-row gap-3">
                        <a class="d-block" href="https://wa.me/+79277254665"><i class="fs-4 bi bi-whatsapp"></i></a>
                        <a class="d-block" href="https://t.me/+79277254665"> <i class="fs-4 bi bi-telegram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>