video {
    display: block;
    object-fit: contain;
    height: auto;
    width: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.overlay-container {
    position: relative;
}

.overlay-container:hover .overlay {
    animation-name: container_hover_overlay;
    animation-duration: 4s;
}

@keyframes container_hover_overlay {
  0%   {opacity: 0;}
  25%  {opacity: 1;}
  50%  {opacity: 1;}
  75%  {opacity: 1;}
  100% {opacity: 0;}
}