<div class="container-fluid row">
    <div class="col-6 bg-secondary text-light pt-5 d-flex flex-column gap-3 justify-content-start" >
        @if (selected) {
        <div class="container sticky-top">
            <video src="{{selected.video}}" style="background-color: aliceblue;" controls>

            </video>
            <h3>
                {{selected.description}}
            </h3>
            <ul style="list-style-type: none;">
                @for (typen of selected.type; track $index) {
                <li>
                    {{data.types[typen]}}
                </li>
                }
            </ul>
        </div>
        }
    </div>
    <div class="col-6 d-flex flex-column justify-between gap-3 bg-gradient">

           <app-add-video 
            class="sticky-top shadow bg-light mt-3 py-3" 
            style="
                border-radius: 16px;
                overflow: hidden;"
           ></app-add-video>
        @if (data != null) {
            @for (vid of data.videos; track $index) {
             <app-video-list [info]="vid" (activated)="loadVideo($event)"></app-video-list>
            }
        }
    </div>
</div>