footer, header, main  {
    background: #000000;
    border-bottom: orange ;
    border-width: 2px;
    color: gainsboro;
    margin-right: 0;
}

.dropdown-menu {
    --bs-dropdown-background: #000000;
    --bs-dropdown-border-color: orange;
    --bs-dropdown-border-width: 2px;
    --bs-dropdown-color: gainsboro;
}

 :root {
    /* overflow-x: hidden; */
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Это полезно для контроля размеров элементов */
}